# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pkl
*.pickle

# Virtual environments
env/
venv/
ENV/
.venv/
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Data, logs, models, outputs
*.log

*.pt
*.h5
*.bak
*.tmp
*.npz

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar
docker-compose.override.yml
.docker/
docker-data/
docker.env
.env
.env.*
Dockerfile.*
docker-compose*.yml

# Ignore local development files
*.swp
*.swo